<div class="wrapper" appNoRightClick>
  <app-dcinch-header></app-dcinch-header>
  <app-dcinch-sidebar></app-dcinch-sidebar>
  <div class="loadr" *ngIf='loading'>
    <img src="assets/imgs/loading.gif" class="loadimg">
  </div>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Readings To Verify
      </h1>
    </section>
    <section class="content">
      <div class="box">
        <table class="table table-bordered table-sm text-center custab">
          <thead>
          <tr>
            <th>SNO</th>
            <th>Group-RD No</th>
            <th>Consumer No</th>
            <th>Consumer Name</th>
            <th>Read Date</th>
            <th>Reading Type</th>
            <th>Bill Type</th>
            <th>Bill Month</th>
            <th>Reading</th>
            <th>MD</th>
            <th>PF</th>
            <th>Assessment</th>
            <th>Consumption</th>
            <th>Range</th>
            <th>Image</th>
            <th>Edit</th>
            <th>ACTION &nbsp;
              <button class="button btn-sm btn-warning" (click)="verifyAll(readings)" [disabled]="!readings || readings.length < 1">Verify All</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let d of readings; let i = index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{d.gr}} - {{d.rd}}</td>
              <td>{{d.custid}}</td>
              <td>{{d.name}}</td>
              <td>{{d.datereading | date:'dd-MM-yyyy'}}</td>
              <td>{{d.readingtype}}</td>
              <td>{{d.usetype}}</td>
              <td>{{d.billmonth}}</td>
              <td>{{d.reading}}</td>
              <td>{{d.md}}</td>
              <td>{{d.pf}}</td>
              <td>{{d.assesment}}</td>
              <td>{{d.consumption}}</td>
              <td>{{d.percentageflag}}</td>
              <td>
                <div>
                  <a href="api/mtr-reader/get-meter-reader-image?path={{d.imagepath}}" data-lightbox="image-1" data-title="{{i}}">View</a>
                </div>
              </td>
              <td><button class="button btn-sm btn-primary" (click)="editClicked(d)" data-toggle="modal" data-target="#myModal11">Edit</button></td>
              <td>
                <button class="button btn-sm btn-info" (click)="verifyClicked(d)">Verify</button>&nbsp;
                <button class="button btn-sm btn-danger" (click)="deleteClicked(d)">Delete</button>
              </td>
            </tr>
          </ng-container>
          <tr>
            <td colspan="14" *ngIf="!readings || readings.length < 1">No Records</td>
          </tr>
        </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

<div id="myModal11" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="box-body">
          <table class="table">
            <tr>
              <td><strong>Select to Edit</strong></td>
              <td colspan="2">
                <div>
                  <select class="form-control" [(ngModel)]="editValue" name="EditValue" (change)="editValueChanged()" required>
                    <option value=undefined>Select</option>
                    <option>READING</option>
                    <option>ASSESSMENT</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr *ngIf="readingSelected">
              <td><strong>READING</strong></td>
              <td colspan="2">
                <input class="form-control" type="text" [(ngModel)]="readToEdit.reading" name="reading" [disabled]="!readingSelected">
              </td>
            </tr>
            <tr *ngIf="assessmentSelected">
              <td><strong>ASSESSMENT</strong></td>
              <td colspan="2">
                <input class="form-control" type="text" [(ngModel)]="readToEdit.assesment" name="assesment" [disabled]="!assessmentSelected">
              </td>
            </tr>
          </table><br>
          <div class="box-footer">
            <!-- <div class="row"> -->
            <div class="col-md-offset-4">
              <button class="btn btn-primary" (click)="submitClicked()">Submit</button>&nbsp;
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <!-- </div> -->
          </div>
          <!-- /.box-footer -->
        </div>
      </div>
      <!-- <div class="modal-footer">
        
      </div> -->
    </div>
  </div>
</div>