
<div data-rtl="ltr" class="isoSignInPage sc-jzJRlG kERknP" appNoRightClick> 
  <div class="col-md-12" style="z-index: 999"> 	
  	<div class="row">
  		<div class="col-md-8 text-center" style="background:rgba(225,225,225,0.8);"><br>
	  	<h1 class="text-mpeb text-center"><b>M.P. Pashchim Kshetra Vidyut Vitaran Co. Ltd</b></h1>
	  	<h3 class="text-center subtext">Photo Meter Reading System</h3>
	  	<img src="assets/imgs/vidyut-logo.png" width="250px" class="m-b-res"><hr>
	  	<p class="text-center" style="margin-bottom:20px"><small ><b>Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP. Version - 1.6</b></small><br></p>
	    </div>
       <div class="col-md-4 logindiv">
      
       	  <form action="">
			  <div class="form-group">
			    <label for="username">User Name</label>
			    <input type="text" class="form-control" [(ngModel)]="loginid" name="loginid" placeholder="Enter username" size="20">
			  </div>
			  <div class="form-group">
			    <label for="pwd">Password</label>
			    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Enter password" size="20">
			  </div>
			  <div class="checkbox">
			    <label><input type="checkbox"> Remember me</label>
              </div>
        
			  <button class="btn btn-info" (click)="loginall()">Submit</button>
			</form> 
			
       </div>
  	</div>
     </div>
  
  	</div>


