<div class="wrapper" appNoRightClick>
    <app-dcinch-header></app-dcinch-header>
    <app-dcinch-sidebar></app-dcinch-sidebar>
       <div class="content-wrapper">        
             <section class="content-header">
               <h1>
                  DC Group RD Master Management
               </h1>
               <ol class="breadcrumb">
                 <li><a href="#"><i class="fa fa-dashboard"></i> DC Group RD Master Management</a></li>
                 <li class="active">Deactive RDs In Groups</li>
               </ol>
             </section>
             <section class="content">
                   <div class="row">
                         <div class="col-md-12">
                           <div class="box box-warning">
                             <div class="box-header with-border">
                               <h3 class="box-title">List Of Deactive RDs In Groups</h3>          
                               
                               <!-- /.box-tools -->
                             </div>
                             <!-- /.box-header -->
                             <div class="box-body">
                               <div class="table-responsive">
 
                             <table class="table table-bordered  custab">
 <thead> 
  <tr>
    <th>Sr. No.</th>
    <th>Group No.</th>
    <th>Group Name</th>
    
  </tr></thead>
  <tbody *ngIf="resp?.length > 0" >
  <tr *ngFor='let data of resp ; index as i'>
      <td>{{i+1}}</td>
    <td>{{data.groupno}}</td>
    <td>{{data.groupname}}</td>
</tr></tbody>
<tbody *ngIf="resp?.length == ''" >

<tr> <td colspan="12" class="text-center"> <strong>No data Found.</strong></td></tr>

</tbody>

</table>
</div>
</div>
<!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>

</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
<strong>Copyright &copy; 2019 <a >NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
reserved.
</footer>
</div>