<div class="wrapper" appNoRightClick > 
  <app-gi-header></app-gi-header>
  <app-gi-sidebar></app-gi-sidebar>
     <div class="content-wrapper">        
           <section class="content-header">
             <h1>
               Dashboard
             </h1>
             <ol class="breadcrumb">
               <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
               <li class="active">Non Verified Meter Readers</li>
             </ol>
           </section>
           <section class="content">
                 <div class="row">
                       <div class="col-md-12">
                         <div class="box box-warning">
                           <div class="box-header with-border">
                             <h3 class="box-title">List Of Non Verified Meter Readers</h3>          
                             
                             <!-- /.box-tools -->
                           </div>
                           <!-- /.box-header -->
                           <div class="box-body">
                             <div class="table-responsive">

                           <table class="table table-bordered  custab">
<thead> 
<tr>
  <th>Sr. No.</th>
  <th>Meter Reader ID</th>
  <th>Name</th>
  <th>Mobile No.</th>
  <th>Address</th>
  <th>Location Code</th>
  <th>IMEI No.</th>
  <th>Image Path</th>
  <th>Applied By</th>
  <th>Applied Date</th>
  <th>Action</th>
  
</tr></thead>
<tbody *ngIf="resp?.length > 0" >
<tr *ngFor='let data of resp ; index as i'>
    <td>{{i+1}}</td>
  <td>{{data.mtrdrid}}</td>
  <td>{{data.name}}</td>
  <td>{{data.mobno}}</td>
  <td>{{data.address}}</td>
  <td>{{data.loccode}}</td>
  <td>{{data.imeino}}</td>
  <td><img height="100" width="80" id="{{i+1}}" data-toggle="modal" data-target="#myModal" (click)="imagePopup()" src='{{baseurl.BaseUrlAll}}/mtr-reader/get-meter-reader-image?path={{data.imagepath}}' />
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                  <img class="showimage img-responsive" id="{{i+1}}" src="" />
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>  
      </div>
  </div>
  </td>
  <td>{{data.appliedby}}</td>
  <td>{{data.applydate}}</td>
  <td>
    <div class="btn-group-vertical">
    <button type="button" class="btn bg-green btn-sm" (click)="verifyMeterReader(data.mtrdrid)">Verify</button>
     <button type="button" class="btn btn-danger btn-sm" (click)="rejectMeterReader(data.mtrdrid)">Reject</button>
    </div>
  </td>
  
</tr></tbody>
<tbody *ngIf="resp?.length == ''" >

<tr> <td colspan="12" class="text-center"> <strong>No data Found.</strong></td></tr>

</tbody>

</table>
</div>
</div>
<!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>

</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
<strong>Copyright &copy; 2019 <a >NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
reserved.
</footer>
</div>
