<aside class="main-sidebar" appNoRightClick>
  <!-- sidebar: style can be found in sidebar.less -->
  <section style="height: auto;" class="sidebar">


    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
   
       <li class="treeview menu-open"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
         <a href="#" >
           <i class="fa fa-users" aria-hidden="true"></i> <span>PMR</span>
           <span class="pull-right-container">
             <i class="fa fa-angle-left pull-right"></i>
           </span>
         </a>
         <ul class="treeview-menu">
             <li class=""><a routerLink='/admin-delete-pmr'><i class="fa fa-angle-right"></i>Delete PMR</a></li>
         </ul>
       </li>

       <!-- <li class="treeview menu-open"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a href="">
          <i class="fa fa-qrcode"></i> <span>QR Reports</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
            <li class=""><a routerLink='/md_qr_code_reports'><i class="fa fa-angle-right"></i>QR Reports</a></li>
         </ul>
      </li> -->
       <!-- <li class="treeview menu-open"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
         <a href="">
             <i class="fa fa-upload" aria-hidden="true"></i> <span>Kuccha Makaan Pakka Makaan Survey Report</span>
           <span class="pull-right-container">
             <i class="fa fa-angle-left pull-right"></i>
           </span>
         </a>
         <ul class="treeview-menu">
          
          </ul>
       </li> -->
   </ul>
  </section>
  <!-- /.sidebar -->
</aside>

