<div class="wrapper" appNoRightClick>
  <app-dcinch-header></app-dcinch-header>
  <app-dcinch-sidebar></app-dcinch-sidebar>

     <div class="content-wrapper">        
           <section class="content-header">
             <h1>
              Scheduling Task
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-thumb-tack"></i> Scheduling Task</a></li>
              <li class="active">Download schedule from NGB</li>
            </ol>
           </section>
           <section class="content">
             <div class="row">
               <div class="col-md-12">
                 <div class="box box-warning">
                   <div class="box-header with-border">
                     <h3 class="box-title">Download schedule from NGB</h3>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                  
</div>
</div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Assign an RD to Meter Reader </h3>          
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        
<!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>
</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a>NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
 reserved.
</footer>
</div>