<aside class="main-sidebar" appNoRightClick>
  <!-- sidebar: style can be found in sidebar.less -->
  <section style="height: auto;" class="sidebar">


    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
   
       <li class="treeview menu-open"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
         <a href="#" >
           <i class="fa fa-calendar" aria-hidden="true"></i> <span>Dashboard</span>
           <span class="pull-right-container">
             <i class="fa fa-angle-left pull-right"></i>
           </span>
         </a>
         <ul class="treeview-menu">
             <li class=""><a routerLink='/company-wise-dashboard'><i class="fa fa-angle-right"></i>Company Dashboard Date Wise</a></li>
             <li class=""><a routerLink='/company-wise-dashboard-billmonth'><i class="fa fa-angle-right"></i>Company Dashboard BillMonth Wise</a></li>
             <li class=""><a routerLink='/md-kuccha-pukka-survey-report'><i class="fa fa-angle-right"></i>Kuccha makaan pakka makaan survey report</a></li>
             <li class=""><a routerLink='/survey-report-overall-company'><i class="fa fa-angle-right"></i>Download survey report for over all company</a></li>
         </ul>
       </li>

       <li class="treeview menu-open"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a href="">
          <i class="fa fa-qrcode"></i> <span>QR Reports</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
            <li class=""><a routerLink='/md_qr_code_reports'><i class="fa fa-angle-right"></i>QR Reports</a></li>
         </ul>
      </li>
       <!-- <li class="treeview menu-open"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
         <a href="">
             <i class="fa fa-upload" aria-hidden="true"></i> <span>Kuccha Makaan Pakka Makaan Survey Report</span>
           <span class="pull-right-container">
             <i class="fa fa-angle-left pull-right"></i>
           </span>
         </a>
         <ul class="treeview-menu">
          
          </ul>
       </li> -->
   </ul>
  </section>
  <!-- /.sidebar -->
</aside>

