<div class="wrapper" appNoRightClick > 
  <app-md-header></app-md-header>
  <app-md-sidebar></app-md-sidebar>
  <div  class="loadr" *ngIf='loading'>
    <img src="assets/imgs/loading.gif" class="loadimg">
   </div>
     <div class="content-wrapper">        
           <section class="content-header">
             <h1>
              Company Survey Report
             </h1>
             <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-list-alt"></i>Kuccha Makaan Pukka Makaan Survey Report</a></li>
                <li class="active"></li>
              </ol>
           </section>
           <section class="content">
             <div class="row">
               <div class="col-md-12">
                 <div class="box box-warning">
                   <div class="box-header with-border">
                     <h3 class="box-title">Survey Report</h3>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                   <div class="box-body">
                     <a class="btn btn-success" href="api/get-data-for-survey/get-all-md-record-for-survey">Download data</a>
<!-- <form ngNoForm class="form-horizontal" method="POST" action="http://10.98.4.75:8045/get-data-for-survey/get-all-md-record-for-survey">  
    <div class="box-body">
      <div class="row">
        <div class="col-md-2">
          <input type="submit" class="btn btn-success" value="Download Data">
            <button type="button" class="btn btn-success" (click)="getCompanySurveyReport()">Download Data</button>
        </div>
      </div>
      </div>
  </form> -->

  <!-- /.box-footer -->
</div>
</div>
</div>
</div>
</section>
</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a>NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
 reserved.
</footer>
</div>
<script>
 
</script>
