<div class="wrapper" appNoRightClick > 
  <app-md-header></app-md-header>
  <app-md-sidebar></app-md-sidebar>
  <div class="loadr" *ngIf='loading'>
    <img src="assets/imgs/loading.gif" class="loadimg">
  </div>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Finger Print Scanning Activation
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-warning">
            <div class="box-header with-border">
                <form class="form-horizontal" #f="ngForm" novalidate>
                  <div class="form-group space-around">
                    <label>LOCATION CODE : </label>
                    <div>
                      <input type="text" class="form-control"  [(ngModel)]="locationCode"  name="code" class="form-control" #locCode="ngModel" [ngClass]="{'is-invalid': locCode.invalid}" required>
                    </div>
                    <label>IMEI NO : </label>
                    <div>
                      <input type="text" class="form-control" [(ngModel)]="imeiNo"  name="imie" class="form-control" #imei="ngModel" [ngClass]="{'is-invalid': imei.invalid}" required >
                    </div>
                    <button class="btn btn-primary" (click)="submitButtonClicked()" [disabled]="SubmitClicked || !locationCode || !imeiNo">Submit</button>
                  </div>
          </form>
          </div>
          </div>
          </div>
        </div>
          </section>
  </div>
</div>