<div class="wrapper" appNoRightClick>
  <app-dcinch-header></app-dcinch-header>
  <app-dcinch-sidebar></app-dcinch-sidebar>
  <div  class="loadr" *ngIf='loading'>
    <img src="assets/imgs/loading.gif" class="loadimg">
   </div>
     <div class="content-wrapper">        
           <section class="content-header">
             <h1>
              Reading Data
            </h1>
            <ol class="breadcrumb">
               <li><a href="#"><i class="fa fa-list-alt"></i>Get Reading Data</a></li>
               <li class="active">Group & RD Readings</li>
             </ol>
           </section>
           <section class="content">
             <div class="row">
               <div class="col-md-12">
                 <div class="box box-warning">
                   <div class="box-header with-border">
                     <h3 class="box-title">Download Group / RD Wise Reading Data</h3>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                   <div class="box-body">
<form class="form-horizontal" #f="ngForm" novalidate>  
    <div class="box-body">
      <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-sm-4">Bill Month</label>
                <div class="col-sm-8">
                  <select class="form-control" [(ngModel)]="billmonth" name="billmon1" #billmon1Text="ngModel" [ngClass]="{ 'is-invalid': f.submitted && billmon1Text.invalid }" required>
                      <option value="{{billmonth}}">{{billmonth}}</option>
                      <!-- <option value="Sep-2020">Sep-2020</option>
                      <option value="Oct-2020">Oct-2020</option>
                      <option value="Nov-2020">Nov-2020</option>
                      <option value="Dec-2020">Dec-2020</option> -->
                      <option value="Jan-2021">Jan-2021</option>
                      <option value="Feb-2021">Feb-2021</option>
                      <option value="Mar-2021">Mar-2021</option>
                      <option value="Apr-2021">Apr-2021</option>
                      <option value="May-2021">May-2021</option>
                      <option value="Jun-2021">Jun-2021</option>
                      <option value="Jul-2021">Jul-2021</option>
                      <option value="Aug-2021">Aug-2021</option>
                      <option value="Sep-2021">Sep-2021</option>
                      <option value="Oct-2021">Oct-2021</option>
                      <option value="Nov-2021">Nov-2021</option>
                      <option value="Dec-2021">Dec-2021</option>
                      <option value="Jan-2022">Jan-2022</option>
                    <option value="Feb-2022">Feb-2022</option>
                    <option value="Mar-2022">Mar-2022</option>
                    <option value="Apr-2022">Apr-2022</option>
                  </select>
                  <div *ngIf="f.submitted && billmon1Text.invalid" class="invalid-feedback">
                      <div *ngIf="billmon1Text.errors.required" style="color:red">Select Bill Month</div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-sm-4">Select Group</label>
                <div class="col-sm-8">
                  <select class="form-control" [(ngModel)]="groupno" name="groupno1" #groupnoText="ngModel" [ngClass]="{ 'is-invalid': f.submitted && groupnoText.invalid }" required (change)="getRD($event.target.value)">
                    <option value="{{groupno}}">{{groupno}}</option>
                    <option *ngFor="let data1 of resp" value="{{data1.groupno}}">{{data1.groupno}}--{{data1.groupname}}</option>
                  </select>
                  <div *ngIf="f.submitted && groupnoText.invalid" class="invalid-feedback">
                      <div *ngIf="groupnoText.errors.required" style="color:red">Select Group No.</div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success btn-block" (click)="getCountNGB()">Verify to Upload</button>
        </div>
      </div>
 
  <!-- /.box-footer -->
           </div>
  </form>
  
</div>
</div>
</div>
</div>
<div class="alert alert-warning col-md-6" *ngIf="showData1">
    <strong>Data Not Found !</strong> 
  </div>
<div class="row" *ngIf="showData">
    <div class="col-md-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Count Of Readings</h3>          
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive" style="max-height:330px">
             
        <table class="table table-bordered  custab">
<thead> 
<tr>
<th>Group No.</th>
<th>Bill Month</th>
<th>Total Upload</th>
<th>Total MSD</th>
<th>Normal</th>
<th>PFL</th>
</tr>
</thead>
<tbody>
<tr>
<td>{{groupno}}</td>
<td>{{billmonth}}</td>
<td>{{totaltoupload}}</td>
<td>{{totalmsd}}</td>
<td>{{nrml}}</td>
<td>{{pfl}}</td>
</tr>
<tr>
  <td colspan="6">
    <button class="btn btn-info btn-xs" (click)="verifyAndUpload()">Verify & Upload</button>
  </td>
</tr>
</tbody>
<tbody *ngIf="resp2?.length == ''" >

<tr> <td colspan="12" class="text-center"> <strong>No data Found.</strong></td></tr>

</tbody>

</table>
</div>
</div>
<!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>
</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a>NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
 reserved.
</footer>
</div>