<div class="wrapper" > 
  <app-admin-header></app-admin-header>
  <app-admin-sidebar></app-admin-sidebar> 
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Home
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      </ol>
    </section>
    <div class="jumbotron text-center">
      <h1 class="display-3">Hello SW-ADMIN</h1>
      <p class="lead">Welcome to PMR</p>
      <hr class="my-4">
    </div>
  </div>
  <footer class="main-footer">
    <strong>Copyright &copy; 2019 <a>NGBPMR</a>. Software developed and maintained by Central Software Development Cell of
      MPPKVVCL, under SE IT ERP.</strong>
    reserved.
  </footer>
</div>