<div class="wrapper" appNoRightClick>
  <app-dcinch-header></app-dcinch-header>
  <app-dcinch-sidebar></app-dcinch-sidebar>
     <div class="content-wrapper">        
           <section class="content-header">
             <h1>
               Dashboard
               <small>Control panel</small>
             </h1>
           </section>
           <section class="content">
             <div class="row">
               <div class="col-md-12">
                 <div class="box box-warning">
                   <div class="box-header with-border">
                     <h3 class="box-title">Schedule a Group</h3>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                   <div class="box-body">
<form class="form-horizontal" #f="ngForm" novalidate>  
    <div class="box-body">
        <div class="form-group">
            <label class="control-label col-sm-2" >Group No.</label>
            <div class="col-sm-8"> 
              <input type="text"  [(ngModel)]="groupno" name="groupnoText" value="{{groupno}}" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" >RD No.</label>
            <div class="col-sm-8"> 
              <input type="text"  [(ngModel)]="rdno" name="rdnoText" value="{{rdno}}" class="form-control" readonly>
            </div>
          </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Start Date</label>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="startdate"  name="date1"  id="from" class="form-control" #datefrom2="ngModel" [ngClass]="{'is-invalid': f.submitted && datefrom2.invalid}" required >
          <div *ngIf="f.submitted && datefrom2.invalid" class="invalid-feedback">
            <div *ngIf="datefrom2.errors.required" style="color:red;">Start Date From is Required.</div>
        </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">End Date</label>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="enddate" name="date2" id="to" class="form-control" #dateto2="ngModel" [ngClass]="{'is-invalid': f.submitted && dateto2.invalid}" required >
          <div *ngIf="f.submitted && dateto2.invalid" class="invalid-feedback">
            <div *ngIf="dateto2.errors.required" style="color:red;" >End Date To is Required.</div>
        </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Bill Month</label>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="billmon" name="billmon1" #billmon1Text="ngModel" [ngClass]="{ 'is-invalid': f.submitted && billmon1Text.invalid }" required>
            <option value="{{billmon}}">{{billmon}}</option>
            <!-- <option value="Sep-2020">Sep-2020</option>
                    <option value="Oct-2020">Oct-2020</option>
                    <option value="Nov-2020">Nov-2020</option>
                    <option value="Dec-2020">Dec-2020</option> -->
                    <option value="Jan-2021">Jan-2021</option>
                    <option value="Feb-2021">Feb-2021</option>
                    <option value="Mar-2021">Mar-2021</option>
                    <option value="Apr-2021">Apr-2021</option>
                    <option value="May-2021">May-2021</option>
                    <option value="Jun-2021">Jun-2021</option>
                    <option value="Jul-2021">Jul-2021</option>
                    <option value="Aug-2021">Aug-2021</option>
                    <option value="Sep-2021">Sep-2021</option>
                    <option value="Oct-2021">Oct-2021</option>
                    <option value="Nov-2021">Nov-2021</option>
                    <option value="Dec-2021">Dec-2021</option>
                    <option value="Jan-2022">Jan-2022</option>
                    <option value="Feb-2022">Feb-2022</option>
                    <option value="Mar-2022">Mar-2022</option>
                    <option value="Apr-2022">Apr-2022</option>
          </select>
          <div *ngIf="f.submitted && billmon1Text.invalid" class="invalid-feedback">
              <div *ngIf="billmon1Text.errors.required" style="color:red">Select Bill Month</div>
          </div>
        </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Operation Type</label>
          <div class="col-sm-8">
            <select class="form-control" [(ngModel)]="operationtype" name="operationtypeText" #operationtypeText="ngModel" [ngClass]="{ 'is-invalid': f.submitted && operationtypeText.invalid }" required>
                <option value="{{operationtype}}">{{operationtype}}</option>
              <option value="PMRONLY">PMR Only</option>
              <option value="PMRSPOTBILLBOTH">PMR - SPOT BILL Both</option>
              
            </select>
            <div *ngIf="f.submitted && operationtypeText.invalid" class="invalid-feedback">
                <div *ngIf="operationtypeText.errors.required" style="color:red">Select Bill Month</div>
            </div>
          </div>
        </div>

<!-- /.box-body -->
<div class="box-footer">
    <div class="row">
      <div class="col-sm-10 col-md-offset-2 ">
    <button type="button" class="btn btn-warning btn-sm" (click)="submitScheduled()">Submit Schedule</button>
  </div>
  </div>
  </div>
  <!-- /.box-footer -->
           </div>
  </form>
</div>
</div>
</div>
</div>
</section>
</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a >NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
 reserved.
</footer>
</div>