<div class="wrapper" appNoRightClick>
  <app-dcinch-header></app-dcinch-header>
  <app-dcinch-sidebar></app-dcinch-sidebar>
  <div  class="loadr" *ngIf='loading'>
    <img src="assets/imgs/loading.gif" class="loadimg">
   </div>
     <div class="content-wrapper">        
           <section class="content-header">
             <h1>
              Reading Data
            </h1>
            <ol class="breadcrumb">
               <li><a href="#"><i class="fa fa-list-alt"></i>Get Reading Data Meter Change</a></li>
               <li class="active">Group Readings</li>
             </ol>
           </section>
           <section class="content">
             <div class="row">
               <div class="col-md-12">
                 <div class="box box-warning">
                   <div class="box-header with-border">
                     <h3 class="box-title">Download Group Reading Data Of Meter Change</h3>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                   <div class="box-body">
<form class="form-horizontal" #f="ngForm" novalidate>  
    <div class="box-body">
      <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-sm-4">Bill Month</label>
                <div class="col-sm-8">
                  <select class="form-control" [(ngModel)]="billmonth" name="billmon1" #billmon1Text="ngModel" [ngClass]="{ 'is-invalid': f.submitted && billmon1Text.invalid }" required>
                      <option value="{{billmonth}}">{{billmonth}}</option>
                      <!-- <option value="Sep-2020">Sep-2020</option>
                      <option value="Oct-2020">Oct-2020</option>
                      <option value="Nov-2020">Nov-2020</option>
                      <option value="Dec-2020">Dec-2020</option> -->
                      <option *ngFor="let month of billMonths" [ngValue]="month">{{month}}</option>
                  </select>
                  <div *ngIf="f.submitted && billmon1Text.invalid" class="invalid-feedback">
                      <div *ngIf="billmon1Text.errors.required" style="color:red">Select Bill Month</div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-sm-4">Select Group</label>
                <div class="col-sm-8">
                  <select class="form-control" [(ngModel)]="groupno" name="groupno1" #groupnoText="ngModel" [ngClass]="{ 'is-invalid': f.submitted && groupnoText.invalid }" required>
                    <option value="{{groupno}}">{{groupno}}</option>
                    <option *ngFor="let data1 of resp" value="{{data1.groupno}}">{{data1.groupno}}--{{data1.groupname}}</option>
                  </select>
                  <div *ngIf="f.submitted && groupnoText.invalid" class="invalid-feedback">
                      <div *ngIf="groupnoText.errors.required" style="color:red">Select Group No.</div>
                  </div>
                </div>
              </div>
        </div>
    
        <div class="col-md-2" >
            <button type="button" class="btn btn-success btn-block" (click)="getGroupReadingsData()">Submit Group</button>
        </div>
        
      </div>
 
  <!-- /.box-footer -->
           </div>
  </form>
  
</div>
</div>
</div>
</div>
<div class="alert alert-warning col-md-6" *ngIf="showData1">
    <strong>Data Not Found !</strong> 
  </div>
<div class="row" *ngIf="showData">
    <div class="col-md-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">List Of Readings In group {{groupno}} for billmonth {{billmonth}}</h3>          
          <!-- /.box-tools -->
          <button class="btn btn-info btn-sm pull-right" (click)='exportAsXsls()' style="margin-left: 5px"><i class="fa fa-download"></i> Export</button>
          <!-- <button class="btn btn-info btn-sm pull-right" *ngIf="groupno!=='Select Group' && rd==='Select RD No.'" (click)='imageDownloadGroup()' style="margin-left: 5px"><i class="fa fa-download"></i> Prepare Image Downloader</button>
          <button class="btn btn-info btn-sm pull-right" *ngIf="groupno!=='Select Group' && rd!=='Select RD No.'" (click)='imageDownloadRD()' style="margin-left: 5px"><i class="fa fa-download"></i> Prepare Image Downloader</button>
          <button class="btn btn-info btn-sm pull-right" (click)='downloadZip(resp4.path)' *ngIf="showbutton"><i class="fa fa-download" ></i> Download Folder</button>
           -->
       
        </div>

        
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive" style="max-height:330px">
             
        <table class="table table-bordered  custab">
<thead> 
<tr>
<th>Sr. No.</th>
<th>Account Id</th>
<th>Current Reading Date</th>
<th>Name</th>
<th>Group - RD</th>
<th>Reading</th>
<th>CMD</th>
<th>MD</th>
<th>PF</th>
<th>Meter Phase</th>
<th>Meter Make</th>
<th>Meter Sr. No.</th>
<th>Meter capacity</th>
<th>Meter Digit</th>
<th>Defect Type</th>
<th>Image</th>
<th>Upload Date</th>
<th>Time Of Upload</th>
<th>Uploaded By</th>
<th>Reader Id</th>
<th>Action By</th>
<th>Action Date</th>
<th>Remark</th>
<th>Assesment</th>
</tr>
</thead>
<tbody *ngIf="resp2?.length > 0" >
<tr *ngFor='let data of resp2; index as i'>
<td>{{i+1}}</td>
<td>{{data.custid}}</td>
<td>{{data.datereading}}</td>
<td>{{data.name}}</td>
<td>{{data.gr}} - {{data.rd}}</td>
<td>{{data.reading}}</td>
<td>{{data.cmd}}</td>
<td>{{data.md}}</td>
<td>{{data.pf}}</td>
<td>{{data.meterphase}}</td>
<td>{{data.metermake}}</td>
<td>{{data.metersrno}}</td>
<td>{{data.metercap}}</td>
<td>{{data.meterdigit}}</td>
<td>{{data.defecttype}}</td>
<td>
  <div>
    <a href="api/mtr-reader/get-meter-reader-image?path={{data.imagepath}}" data-lightbox="image-1" data-title="{{data.custid}}">View</a>
  </div>
  <!-- <a (click)="imagePopup()" id="{{i+1}}" data-toggle="modal" data-target="#myModal" href='api/mtr-reader/get-meter-reader-image?path={{data.imagepath}}'>View</a>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="showimage img-responsive" id="{{i+1}}" src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>  
    </div>
</div> -->
</td>
<td>{{data.dateupload}}</td>
<td>{{data.timeupload}}</td>
<td>{{data.uploadby}}</td>
<td>{{data.readerid}}</td>
<td>{{data.actionby}}</td>
<td>{{data.actiondate}}</td>
<td>{{data.remark}}</td>
<td>{{data.assesment}}</td>

</tr></tbody>
<tbody *ngIf="resp2?.length == ''" >

<tr> <td colspan="12" class="text-center"> <strong>No data Found.</strong></td></tr>

</tbody>

</table>
</div>
</div>
<!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>
</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a>NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
 reserved.
</footer>
</div>