<div class="wrapper" appNoRightClick>
  <app-de-header></app-de-header>
  <app-de-sidebar></app-de-sidebar>
  <div class="loadr" *ngIf='loading'>
    <img src="assets/imgs/loading.gif" class="loadimg">
  </div>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Verification Dashboard
      </h1>
    </section>
    <section class="content">
      <div class="box box-warning">
        <div class="box-body">
          <div class="flex-sapce-around form-group">
            <div>
              <label class="control-label">Start Date</label>
              <input type="date" class="form-control" [(ngModel)]="date1" id="date1" name="date1" required (change)="dateChanged()">
            </div>
            <div>
              <label class="control-label">End Date</label>
              <input type="date" class="form-control" max="{{currentDate | date:'yyyy-MM-dd'}}" [(ngModel)]="date2" id="date2" name="date2" required (change)="dateChanged()">
            </div>
            <div>
              <label class="control-label not-required text-white">*</label>
              <button type="button" class="btn btn-sm btn-primary" (click)="searchButtonClicked()" [disabled]="loading">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-bordered custab">
          <thead>
            <tr>
              <th>SNo.</th>
              <th>LOCATION NAME</th>
              <th>LOCATION CODE</th>
              <th>TOTAL RECORDs</th>
              <th>VERIFIED RECORDS</th>
              <th>REJECTED RECORDS</th>
              <th>REMAINING RECORDS</th>
            </tr>
          </thead>
          <tbody *ngIf="readings?.length > 0" id="above120">
            <tr *ngFor='let read of readings; index as i'>
              <td>{{i+1}}</td>
              <td>{{read.dcname}}</td>
              <td>{{read.dccode}}</td>
              <td><a href="javascript:void(0);" (click)="totalCountLinkClicked(read)" data-toggle="modal" data-target="#myModal11">{{read.totalcount}}</a></td>
              <td><a href="javascript:void(0);" (click)="verifiedLinkClicked(read)" data-toggle="modal" data-target="#myModal11">{{read.verified}}</a></td>
              <td><a href="javascript:void(0);" (click)="rejectedLinkClicked(read)" data-toggle="modal" data-target="#myModal11">{{read.rejected}}</a></td>
              <td>{{read.nonverified}}</td>
            </tr>
            <!-- <tr *ngIf="loading">
              <td colspan="7"> loading data...</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

<div id="myModal11" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="flex-sapce-around form-group">
          <button class="button btn-sm btn-primary" (click)="exportClicked(dataToExport)" [disabled]="loadingTable">Export</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <table class="table table-sm table-bordered custab">
          <thead>
            <tr>
              <th>SNo</th>
              <th>Consumer Name</th>
              <th>Location Code</th>
              <th>Group-RD</th>
              <th>Bill Month</th>
              <th>Status</th>
              <th>Remark</th>
            </tr>
          </thead>
          <tr *ngFor="let data of dataToExport; let i = index">
            <td>{{i + 1}}</td>
            <td>{{data.name}}</td>
            <td>{{data.loccode}}</td>
            <td>{{data.gr}} - {{data.rd}}</td>
            <td>{{data.billmonth}}</td>
            <td *ngIf="data.status === '0'">NA</td>
            <td *ngIf="data.status === '1'">APPROVED</td>
            <td *ngIf="data.status === '2'">REJECTED</td>
            <td>{{data.remark}}</td>
          </tr>
          <tr *ngIf="loadingTable" class="text-center">
            <td colspan="7">loading...</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>