<div class="wrapper" appNoRightClick>
  <app-dcinch-header></app-dcinch-header>
  <app-dcinch-sidebar></app-dcinch-sidebar>
  <div  class="loadr" *ngIf='loading'>
    <img src="assets/imgs/loading.gif" class="loadimg">
   </div>
     <div class="content-wrapper">        
           <section class="content-header">
             <h1>
               Reading Data
             </h1>
             <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-list-alt"></i> Reading Data</a></li>
                <li class="active">Group Readings For Complete Bill Month</li>
              </ol>
           </section>
           <section class="content">
             <div class="row">
               <div class="col-md-12">
                 <div class="box box-warning">
                   <div class="box-header with-border">
                     <h3 class="box-title">Group Readings </h3>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                   <div class="box-body">
<form class="form-horizontal" #f="ngForm" novalidate>  
    <div class="box-body">
      <div class="form-group">
        <label class="control-label col-sm-2">Bill Month</label>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="billmonth" name="billmon1" #billmon1Text="ngModel" [ngClass]="{ 'is-invalid': f.submitted && billmon1Text.invalid }" required>
            <!-- <option value="Sep-2020">Sep-2020</option> -->
                    <!-- <option value="Oct-2020">Oct-2020</option>
                    <option value="Nov-2020">Nov-2020</option>
                    <option value="Dec-2020">Dec-2020</option> -->
                    <option *ngFor="let month of billMonths" [ngValue]="month">{{month}}</option>
          </select>
          <div *ngIf="f.submitted && billmon1Text.invalid" class="invalid-feedback">
              <div *ngIf="billmon1Text.errors.required" style="color:red">Select Bill Month</div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2">Select Group</label>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="groupno" name="groupno1" #groupnoText="ngModel" [ngClass]="{ 'is-invalid': f.submitted && groupnoText.invalid }" required>
            <option value="{{groupno}}">{{groupno}}</option>
            <option *ngFor="let data1 of resp" value="{{data1.groupno}}">{{data1.groupno}}--{{data1.groupname}}</option>
          </select>
          <div *ngIf="f.submitted && groupnoText.invalid" class="invalid-feedback">
              <div *ngIf="groupnoText.errors.required" style="color:red">Select Group No.</div>
          </div>
        </div>
      </div>
<!-- /.box-body -->
<div class="box-footer">
    <div class="row">
      <div class="col-sm-10 col-md-offset-2 ">
    <button type="button" class="btn btn-success" (click)="getgroupwiseAssignmentStatus()">Submit</button>
  </div>
  </div>
  </div>
  <!-- /.box-footer -->
           </div>
  </form>  
</div>
</div>
</div>
</div>

<div class="alert alert-warning col-md-6" *ngIf="showData1">
    <strong>Data Not Found !</strong> 
  </div>
<div class="row" *ngIf="showData">
    <div class="col-md-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">List Of Readings In Group {{groupno}} for billmonth {{billmonth}}</h3>          
          <!-- /.box-tools -->
        </div> 
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
             
        <table class="table table-bordered  custab">
<thead> 
<tr>
<th>Sr. No.</th>
<th>Group No</th>
<th>RD No.</th>
<th>Assigned To</th>
<th>No. Of Assignment</th>
</tr></thead>
<tbody *ngIf="resp2?.length > 0" >
<tr *ngFor='let data of resp2; index as i'>
<td>{{i+1}}</td>
<td>{{data.groupno}}</td>
<td>{{data.rdno}}</td>
<td>{{data.assignedto}}</td>
<td>{{data.assignedtonumberof}}</td>

 
</tr></tbody>
<tbody *ngIf="resp?.length == ''" >

<tr> <td colspan="12" class="text-center"> <strong>No data Found.</strong></td></tr>

</tbody>

</table>
</div>
</div>
<!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>
</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a>NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
 reserved.
</footer>
</div>
<script>
 
</script>
