<div class="wrapper" appNoRightClick > 
  <app-gi-header></app-gi-header>
  <app-gi-sidebar></app-gi-sidebar>
     <div class="content-wrapper">        
           <section class="content-header">
             <h1>
                Scheduling Task
             </h1>
             <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-thumb-tack"></i> Scheduling Task</a></li>
                <li class="active">Schedule a Single RD in Group</li>
              </ol>
           </section>
           <section class="content">
             <div class="row">
               <div class="col-md-12">
                 <div class="box box-warning">
                   <div class="box-header with-border">
                     <h3 class="box-title">Select Group No. To Schedule RD</h3>
                     <!-- /.box-tools -->
                   </div>
                   <!-- /.box-header -->
                   <div class="box-body">
<form class="form-horizontal" #f="ngForm" novalidate>  
    <div class="box-body">
      <div class="form-group">
        <label class="control-label col-sm-2">Active Groups In DC</label>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="groupno" name="groupno1" #groupnoText="ngModel" [ngClass]="{ 'is-invalid': f.submitted && groupnoText.invalid }" required>
            <option *ngFor="let data1 of resp" value="{{data1.groupno}}">{{data1.groupno}}</option>
          </select>
          <div *ngIf="f.submitted && groupnoText.invalid" class="invalid-feedback">
              <div *ngIf="groupnoText.errors.required" style="color:red">Select Group No.</div>
          </div>
        </div>
      </div>
<!-- /.box-body -->
<div class="box-footer">
    <div class="row">
      <div class="col-sm-10 col-md-offset-2 ">
    <button type="button" class="btn btn-success" (click)="ActiveRdinGroup()">Submit</button>
  </div>
  </div>
  </div>
  <!-- /.box-footer -->
           </div>
  </form>
  
</div>
</div>
</div>
</div>

<div class="row" *ngIf="showData">
    <div class="col-md-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Assign an RD to Meter Reader </h3>          
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
             
        <table class="table table-bordered  custab">
<thead> 
<tr>
<th>Sr. No.</th>
<th>Group NO.</th>
<th>RD No.</th>
<th>Schedule RD</th>
</tr></thead>
<tbody *ngIf="resp2?.length > 0" >
<tr *ngFor='let data of resp2; index as i'>
<td>{{i+1}}</td>
<td>{{data.grno}}</td>
<td>{{data.rdno}}</td>
<td><button type="button" class="btn btn-warning btn-sm" (click)="scheduleSingleRd(data.grno,data.rdno)">Submit Schedule</button></td>
</tr></tbody>
<tbody *ngIf="resp2?.length == ''" >

<tr> <td colspan="12" class="text-center"> <strong>No data Found.</strong></td></tr>

</tbody>

</table>
</div>
</div>
<!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>
</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a>NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
 reserved.
</footer>
</div>