<div class="wrapper" appNoRightClick>
    <app-dcinch-header></app-dcinch-header>
    <app-dcinch-sidebar></app-dcinch-sidebar>
    <div  class="loadr" *ngIf='loading'>
        <img src="assets/imgs/loading.gif" class="loadimg">
       </div>
       <div class="content-wrapper">        
             <section class="content-header">
               <h1>
                  DC User Management
               </h1>
               <ol class="breadcrumb">
                 <li><a href="#"><i class="fa fa-dashboard"></i>  DC User Management</a></li>
                 <li class="active">Rejected Meter Readers</li>
               </ol>
             </section>
             <section class="content">
                   <div class="row">
                         <div class="col-md-12">
                           <div class="box box-warning">
                             <div class="box-header with-border">
                               <h3 class="box-title">List Of Rejected Meter Readers</h3>         
                               
                               <!-- /.box-tools -->
                             </div>
                             <!-- /.box-header -->
                             <div class="box-body">
                               <div class="table-responsive" style="max-height:570px"> 
                             <table class="table table-bordered  custab">
                              <thead> 
                                <tr>
                                  <th>Sr. No.</th>
                                  <th>Meter Reader ID</th>
                                  <th>Name</th>
                                  <th>Mobile No.</th>
                                  <th>Address</th>
                                  <th>Location Code</th>
                                  <th>IMEI No.</th>
                                  <th>Image Path</th>
                                  <th>Applied By</th>
                                  <th>Applied Date</th>
                                  <th>Rejected BY</th>
                                  <th>Rejected Date</th>
                                </tr></thead>
                                <tbody *ngIf="resp?.length > 0" >
                                <tr *ngFor='let data of resp ; index as i'>
                                    <td>{{i+1}}</td>
                                  <td>{{data.mtrdrid}}</td>
                                  <td>{{data.name}}</td>
                                  <td>{{data.mobno}}</td>
                                  <td>{{data.address}}</td>
                                  <td>{{data.loccode}}</td>
                                  <td>{{data.imeino}}</td>
                                  <td>
                                      <div>
                                          <a href="api/mtr-reader/get-meter-reader-image?path={{data.imagepath}}" data-lightbox="image-1" data-title="{{data.name}}">View</a>
                                        </div>
                                  </td>
                                  <td>{{data.appliedby}}</td>
                                  <td>{{data.applydate}}</td>
                                  <td>{{data.approvedby}}</td>
                                  <td>{{data.approvedate}}</td>
    
    
                                </tr></tbody>
                                <tbody *ngIf="resp?.length == ''" >

                                <tr> <td colspan="12" class="text-center"> <strong>No data Found.</strong></td></tr>

                                </tbody>

                                </table>
                                </div>
                                </div>
                                <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                                </div>
                                </div>
                                </section>

                                </div>
<!-- /.content-wrapper -->
<footer class="main-footer">
<strong>Copyright &copy; 2019 <a >NGBPMR</a>. Software developed and maintained by Central Software Development Cell of MPPKVVCL, under SE IT ERP.</strong> 
reserved.
</footer>
</div>