<div class="wrapper" appNoRightClick>
  <app-de-header></app-de-header>
  <app-de-sidebar></app-de-sidebar>
  <div class="loadr" *ngIf='loading'>
    <img src="assets/imgs/loading.gif" class="loadimg">
  </div>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Reading Image verification
      </h1>
    </section>
    <section class="content">
      <div class="box box-warning">
        <div class="box-body">
          <div class="form-group">
            <div class="flex-sapce-around">
              <div>
                <label class="control-label">Start Date</label>
                <input type="date" class="form-control" max="{{date2 | date:'yyyy-MM-dd'}}" [(ngModel)]="date1" id="date1" name="date1" required (change)="date1Changed()">
              </div>
              <div>
                <label class="control-label">End Date</label>
                <input type="date" class="form-control" min="{{date1 | date:'yyyy-MM-dd'}}" max="{{currentDate | date:'yyyy-MM-dd'}}" [(ngModel)]="date2" id="date2" name="date2" required (change)="date2Changed()">
              </div>
              <div class="form-group">
                <label class="control-label">Location</label>
                <div> 
                  <select class="form-control" [(ngModel)]="locationCode" name="location" required>
                  <option value=undefined>Select</option>
                  <option [value]="location" *ngFor="let location of locations">{{location}}</option>
                  </select>
                </div>
              </div>
              <div>
                <label class="control-label not-required text-white">*</label>
                <button type="button" class="btn btn-sm btn-success" [disabled]="!locationCode" (click)="searchButtonClicked()">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-bordered custab">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Customer ID</th>
              <th>Name</th>
              <th>Bill Month</th>
              <th>Date Of Reading</th>
              <th>Reading Type</th>
              <th>md</th>
              <th>pf</th>
              <th>Reading</th>
              <th>Assessment</th>
              <th>Image 1</th>
              <th>Image 2</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="above120">
            <tr *ngFor='let read of readings; index as i'>
              <td>{{i+1}}</td>
              <td>{{read.custid}}</td>
              <td>{{read.name}}</td>
              <td>{{read.billmonth}}</td>
              <td>{{read.datereading}}</td>
              <td>{{read.readingtype}}</td>
              <td>{{read.md}}</td>
              <td>{{read.pf}}</td>
              <td>{{read.reading}}</td>
              <td>{{read.assesment}}</td>
              <td>
                <div>
                  <a href="api/mtr-reader/get-meter-reader-image?path={{read.imagepath}}"
                    data-lightbox="image-1" data-title="{{read.custid}}">View</a>
                </div>
              </td>
              <td>
                <div>
                  <a href="api/mtr-reader/get-meter-reader-image?path={{read.image2path}}"
                    data-lightbox="image-2" data-title="{{read.custid}}">View</a>
                </div>
              </td>
    
              <td>
                <div>
                  <button type="button" data-toggle="modal" data-target="#myModal11" id="{{i+1}}" class="btn btn-primary btn-sm" (click)='actionButtonClicked(read)'>ACTION</button>
                </div>
              </td>
            </tr>
            <tr *ngIf="!loading && readings && readings.length === 0">
              <td colspan="13">
                No Records Found.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <footer class="main-footer">
    <strong>Copyright &copy; 2019 <a>NGBPMR</a>. Software developed and maintained by Central Software Development Cell
      of MPPKVVCL, under SE IT ERP.</strong>
    reserved.
  </footer>
</div>

<div id="myModal11" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="flex-sapce-around">
                <img [src]="image1" width="250px">
                <img [src]="image2" width="250px">
              </div>
            </div>
          </div>
          
            <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" (click)="previousButtonClicked()">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" (click)="nextButtonClicked()">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <table class="table">
          <tr>
            <td><strong>IVRS NO.</strong></td>
            <td>{{selectedData?.custid}}</td>
            <td><strong>BILL MONTH</strong></td>
            <td>{{selectedData.billmonth}}</td>
          </tr>
          <tr>
            <td><strong>CURRENT READING</strong></td>
            <td>{{selectedData?.reading}}</td>
            <td><strong>ASSESSMENT</strong></td>
            <td>{{selectedData?.assesment}}</td>
          </tr>
          <tr>
            <td>
              <strong>Remark</strong>
            </td>
            <td colspan="3">
              <textarea class="form-control" rows="2" [(ngModel)]="remark"></textarea>
            </td>
          </tr>
          <tr align="middle">
            <td colspan="2">
              <button class="btn btn-danger" (click)="rejectButtonClicked(selectedData)" [disabled]="!remark || actionclicked">REJECT</button>
            </td>
            <td colspan="2">
              <button class="btn btn-primary" (click)="approveButtonClicked(selectedData)" [disabled]="!remark || actionclicked">APPROVE</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeClicked()">Close</button>
      </div>
    </div>
  </div>
</div>